@mixin flex( $direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

// @keyframes rotateDivRight {
//     0% {transform: matrix(1, 0, 0, 1, 0, 0);}
//     100% {transform: matrix(1, -1.74533e-06, 1.74533e-06, 1, 0, 0);}
// }

@keyframes rotateDivRight {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(359.999deg);}
}

@keyframes rotateDivLeft {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(-359.999deg);}
}

.rotation-div {

    &__box {
        height: 100vh;
        width: 100vw;
        @include flex(column, center, center);
        background-color: #000;
        overflow: hidden;
        color:red;

        &--pink-skin {
            background-color: pink;
        }

        &--orange-skin {
            background-color: orange;
        }
    }

    &__square {
        // margin: 0 auto;
        height: 90%;
        width: 90%;
        // height: 20%;
        // width: 20%;
        border: 0.25vmin solid red;
        box-shadow: 0 0 1vmin 1vmin red;
        position: absolute;
        transform: rotate(270deg);
        animation: rotateDivRight 10s linear 0s infinite normal none;
        
        &:nth-child(1) {
            animation: rotateDivLeft 10s linear 0s infinite normal none;
            opacity: 1;
        }

        &--pink-skin {
            border: 0.25vmin solid pink;
            box-shadow: 0 0 1vmin 1vmin pink;
        }

        &--orange-skin {
            border: 0.25vmin solid black;
            box-shadow: 0 0 1vmin 1vmin black;

        }
    }
    
    &__vanishing-point {
        height: 6vh;
        width: 6vw;
        border-radius: 50%;
        background-color: red;
        box-shadow: 0 0 10vmin 10vmin red;
        // position: absolute;
    }

    &__hit-button {
        position: fixed;
        height: 10vh;
        width: 20vw;
        color: red;
        font-size: 3rem;
        bottom: 10vh;
        cursor: pointer;
        left: 40vw;
        box-shadow: 0 0 4vmin 2vmin red;
        border-radius: 5vh;
        background-color: #000;
        z-index: 4;
    }
}


