@-webkit-keyframes rotateDivRight {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359.999deg);
            transform: rotate(359.999deg);
  }
}

@keyframes rotateDivRight {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359.999deg);
            transform: rotate(359.999deg);
  }
}

@-webkit-keyframes rotateDivLeft {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-359.999deg);
            transform: rotate(-359.999deg);
  }
}

@keyframes rotateDivLeft {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-359.999deg);
            transform: rotate(-359.999deg);
  }
}

.rotation-div__box {
  height: 100vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000;
  overflow: hidden;
  color: red;
}

.rotation-div__box--pink-skin {
  background-color: pink;
}

.rotation-div__box--orange-skin {
  background-color: orange;
}

.rotation-div__square {
  height: 90%;
  width: 90%;
  border: 0.25vmin solid red;
  -webkit-box-shadow: 0 0 1vmin 1vmin red;
          box-shadow: 0 0 1vmin 1vmin red;
  position: absolute;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
  -webkit-animation: rotateDivRight 10s linear 0s infinite normal none;
          animation: rotateDivRight 10s linear 0s infinite normal none;
}

.rotation-div__square:nth-child(1) {
  -webkit-animation: rotateDivLeft 10s linear 0s infinite normal none;
          animation: rotateDivLeft 10s linear 0s infinite normal none;
  opacity: 1;
}

.rotation-div__square--pink-skin {
  border: 0.25vmin solid pink;
  -webkit-box-shadow: 0 0 1vmin 1vmin pink;
          box-shadow: 0 0 1vmin 1vmin pink;
}

.rotation-div__square--orange-skin {
  border: 0.25vmin solid black;
  -webkit-box-shadow: 0 0 1vmin 1vmin black;
          box-shadow: 0 0 1vmin 1vmin black;
}

.rotation-div__vanishing-point {
  height: 6vh;
  width: 6vw;
  border-radius: 50%;
  background-color: red;
  -webkit-box-shadow: 0 0 10vmin 10vmin red;
          box-shadow: 0 0 10vmin 10vmin red;
}

.rotation-div__hit-button {
  position: fixed;
  height: 10vh;
  width: 20vw;
  color: red;
  font-size: 3rem;
  bottom: 10vh;
  cursor: pointer;
  left: 40vw;
  -webkit-box-shadow: 0 0 4vmin 2vmin red;
          box-shadow: 0 0 4vmin 2vmin red;
  border-radius: 5vh;
  background-color: #000;
  z-index: 2;
}

.rotation-div__menu-link {
  position: fixed;
  height: 2vmin;
  width: 2vmin;
  color: red;
  font-size: 0.6rem;
  top: 1vmin;
  cursor: pointer;
  right: 1vmin;
  -webkit-box-shadow: 0 0 4vmin 2vmin red;
          box-shadow: 0 0 4vmin 2vmin red;
  border-radius: 5vh;
  background-color: #000;
  z-index: 2;
  text-align: center;
}
/*# sourceMappingURL=divs.css.map */