.score {
    position: fixed;
    top: 2vh;
    left: 20vw;
    z-index: 2;
    height: 60vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid yellow;
    // gap: 1vh 2vw;

    &__hits, &__fails {
        height: 80vh;
        width: 30vw;
        // margin: 4vh 2vh;
        font-size: 2rem;
    }

    &__hits {
        text-align: right;
    }
}

