:root {
    --style-color: #ff0000;
    --style-background-color: #000000;
    
    --red-style-color: #ff0000;
    --red-style-background-color: #000000;

    --noir-style-color: #000000;
    --noir-style-background-color: #FFF;

    --gum-style-color: yellow;
    --gum-style-background-color: orange;
}

.menu {
    position: fixed;
    z-index: 3;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: #ff0000;
    display: flex;
    justify-content: center;
    align-items: center;

    &__box {
        height: 80vh;
        width: 80vw;
        border-radius: 10vmin;
        border: 2vmin solid #ff0000;
        background-color: #000000;
        font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2vmax;
        
        .input {

            &__color{
                height: 10vmin;
                width: 20vmin;
                border: none;
            }

            &__speed {
                opacity: 1;
                appearance: none;
                height: 1vh;
                background-color: #000000;
                border-radius: 0.5vh;

                &::-webkit-slider-thumb {
                    appearance: none;
                    height: 2vh;
                    width: 2vh;
                    background: #ff0000;
                    border-radius: 50%;
                    cursor: pointer;
                    
                }
            }
        }
    }

    &__speed-box {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 20%;
    }

    &__reset-color-button {
        font-size: 2vmax;
        border-radius: 5vmin;
        height: 10vmin;
        width: 20vmin;
        margin-top: 2vh;
        background-color: rgb(180, 180, 180);
        cursor: pointer;

        &:hover {
            filter: invert(100%);
        }
    }

    &__div-link {
        text-decoration: none;
        position: absolute;
        height: 6vmin;
        width: 6vmin;
        font-size: 3vmin;
        top: 7vh;
        right: 9vw;
        color: #ff0000;
        border: 2vmin solid #ff0000;
        // outline: 0.5 solid rgba(0, 0, 0, 0.3);
        border-radius: 5vh;
        background-color: #000000;
        z-index: 2;
        text-align: center;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &:hover {
            filter: invert(100%);
        }
    }
}
