.menu {
    position: fixed;
    z-index: 3;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.178);
    display: flex;
    justify-content: center;
    align-items: center;

    &__box {
        height: 70vh;
        width: 70vw;
        border-radius: 10vmin;
        border: 2vmin solid red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}